<!DOCTYPE html>
<html>
    <h1>Custom File Upload <span>With jQuery and CSS</span></h1>

    <head>
        <link rel="stylesheet" type="text/css" href="css/file_upload.css">
        <h1>Custom File Upload <span>With jQuery and CSS</span></h1>
    </head>
    <body>
    <div class="custom-file-upload">
        <!--<label for="file">File: </label>--> 
        <input type="file" id="file" name="myfiles[]" multiple />
    </div>
    </body>

    <script type="text/javascript" src="js/file_upload.js"></script>
</html>
